flows.json
[{"id":"d77938ab.e7d7a8","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"255662bd.73576e","type":"e-mail","z":"d77938ab.e7d7a8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"thotaarchitha@gmail.com","dname":"","x":579,"y":380,"wires":[]},{"id":"f3965272.d1569","type":"debug","z":"d77938ab.e7d7a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":565,"y":454,"wires":[]},{"id":"190fa06d.8a013","type":"function","z":"d77938ab.e7d7a8","name":"mail function","func":"global.set(\"month\",msg.payload.month)\nglobal.set(\"main_hall\",msg.payload.main_hall)\nglobal.set(\"AC\",msg.payload.AC)\nglobal.set(\"lights\",msg.payload.lights)\nglobal.set(\"living_room\",msg.payload.living_room)\nglobal.set(\"fan\",msg.payload.fan)\nglobal.set(\"bath_plgs\",msg.payload.bath_plgs)\nglobal.set(\"laundary\",msg.payload.laundary)\nglobal.set(\"fridge\",msg.payload.fridge)\nglobal.set(\"kitchen\",msg.payload.kitchen)\nglobal.set(\"furnace\",msg.payload.furnace)\nglobal.set(\"microwave\",msg.payload.microwave)\nglobal.set(\"guest\",msg.payload.guest)\nglobal.set(\"guest_bath\",msg.payload.guest_bath)\nglobal.set(\"mini_fridge\",msg.payload.mini_fridge)\nglobal.set(\"others\",msg.payload.others)\n\n\nvar month=global.get(\"month\");\nvar main_hall=global.get(\"main_hall\");\nvar AC=global.get(\"AC\");\nvar lights=global.get(\"lights\");\nvar living_room=global.get(\"living_room\");\nvar fan=global.get(\"fan\");\nvar bath_plgs=global.get(\"bath_plgs\");\nvar laundary=global.get(\"laundary\");\nvar fridge=global.get(\"fridge\");\nvar kitchen=global.get(\"kitchen\");\nvar furnace=global.get(\"furnace\");\nvar microwave=global.get(\"microwave\");\nvar guest=global.get(\"guest\");\nvar guest_bath=global.get(\"guest_bath\");\nvar mini_fridge=global.get(\"mini_fridge\");\nvar others=global.get(\"others\");\n\n// average values\nvar avgmainhall=1020.42\nvar avgAC=1420.13\nvar avglights=102.63\nvar avglivingroom=11.222\nvar avgfan=29.19\nvar avgbath=0.47\nvar avglaundary=1187.39\nvar avgfridge=68.15\nvar avgkitchen=119.83\nvar avgfurnace=167.033\nvar avgmicrowave=20.72\nvar avgguest=192.57\nvar avgguestbath=37.97\nvar avgmini=56.49\nvar avgothers=65.84\nvar str=\"ANALYSIS WITH RESPECT TO EACH APPLIANCE\"\nstr+=\"\\nAvegare usage in HALL ROOM:\"+avgmainhall+\"\\t\\tEnergy used in that month:\"+main_hall\nstr+=\"\\nAvegare usage in AC:\"+avgAC+\"\\t\\t\\t\\tEnergy used in that month:\"+AC\nstr+=\"\\nAvegare usage in LIGHTS:\"+avglights+\"\\t\\t\\t\\tEnergy used in that month:\"+lights\nstr+=\"\\nAvegare usage in LIVING ROOM:\"+avglivingroom+\"\\t\\tEnergy used in that month:\"+living_room\nstr+=\"\\nAvegare usage in FAN:\"+avgfan+\"\\t\\t\\t\\tEnergy used in that month:\"+fan\nstr+=\"\\nAvegare usage in BATH PLUGS:\"+avgbath+\"\\t\\tEnergy used in that month:\"+bath_plgs\nstr+=\"\\nAvegare usage in LAUNDARY:\"+avglaundary+\"\\t\\tEnergy used in that month:\"+laundary\nstr+=\"\\nAvegare usage in FRIDGE:\"+avgfridge+\"\\t\\t\\t\\tEnergy used in that month:\"+fridge\nstr+=\"\\nAvegare usage in KITCHEN:\"+avgkitchen+\"\\t\\t\\tEnergy used in that month:\"+kitchen\nstr+=\"\\nAvegare usage in FURNACE:\"+avgfurnace+\"\\t\\tEnergy used in that month:\"+furnace\nstr+=\"\\nAvegare usage in MICROWAVE:\"+avgmicrowave+\"\\t\\tEnergy used in that month:\"+microwave\nstr+=\"\\nAvegare usage in GUEST:\"+avgguest+\"\\t\\t\\t\\tEnergy used in that month:\"+guest\nstr+=\"\\nAvegare usage in GUEST BATHROOM:\"+avgguestbath+\"\\t\\tEnergy used in that month:\"+guest_bath\nstr+=\"\\nAvegare usage in MINI FRIDGE:\"+avgmini+\"\\t\\t\\tEnergy used in that month:\"+mini_fridge\nstr+=\"\\nAvegare usage in OTHERS:\"+avgothers+\"\\t\\t\\t\\tEnergy used in that month:\"+others\nstrm=\"\\n\\nMONTH WISE ANALYSIS\\n\"\nsum=main_hall+lights+living_room+fan+bath_plgs+laundary+fridge+furnace+microwave+guest+guest_bath+mini_fridge+others\nif(month==4){\n    strm+=\"Average energy to be used in January :984.513\\nActual energy used is:\"+sum\n}\nif(month==3){\n    strm+=\"Average energy to be used in February :1062.82\\nActual energy used is:\"+sum\n}\nif(month==7){\n    strm+=\"Average energy to be used in March :1180.79\\nActual energy used is:\"+sum\n}\nif(month==0){\n    strm+=\"Average energy to be used in April :1159.898\\nActual energy used is:\"+sum\n}\nif(month==8){\n    strm+=\"Average energy to be used in May :1252.92\\nActual energy used is:\"+sum\n}\nif(month==6){\n    strm+=\"Average energy to be used in June :1201.03\\nActual energy used is:\"+sum\n}\nif(month==5){\n    strm+=\"Average energy to be used in July :1197.475\\nActual energy used is:\"+sum\n}\nif(month==1){\n    strm+=\"Average energy to be used in August :1185.633\\nActual energy used is:\"+sum\n}\nif(month==11){\n    strm+=\"Average energy to be used in September :1073.41\\nActual energy used is:\"+sum\n}\nif(month==10){\n    strm+=\"Average energy to be used in October :912.098\\nActual energy used is:\"+sum\n}\nif(month==9){\n    strm+=\"Average energy to be used in November :946.089\\nActual energy used is:\"+sum\n}\nif(month==2){\n    strm+=\"Average energy to be used in December :907.4841\\nActual energy used is:\"+sum\n}\n\n\nmsg={\n    payload:str+strm,\n    topic:\"trying\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":269,"y":428,"wires":[["255662bd.73576e","f3965272.d1569"]]},{"id":"a08b6b30.c68128","type":"inject","z":"d77938ab.e7d7a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99,"y":110,"wires":[["55db96bf.feb708"]]},{"id":"55db96bf.feb708","type":"function","z":"d77938ab.e7d7a8","name":"prediction","func":"var token=msg.payload.token;\nvar month=global.get(\"month\");\nvar main_hall=global.get(\"main_hall\");\nvar AC=global.get(\"AC\");\nvar lights=global.get(\"lights\");\nvar living_room=global.get(\"living_room\");\nvar fan=global.get(\"fan\");\nvar bath_plgs=global.get(\"bath_plgs\");\nvar laundary=global.get(\"laundary\");\nvar fridge=global.get(\"fridge\");\nvar kitchen=global.get(\"kitchen\");\nvar furnace=global.get(\"furnace\");\nvar microwave=global.get(\"microwave\");\nvar guest=global.get(\"guest\");\nvar guest_bath=global.get(\"guest_bath\");\nvar mini_fridge=global.get(\"mini_fridge\");\nvar others=global.get(\"others\");\n\n\nmsg.payload={\"fields\":[\"month\",\"main_hall\",\"AC\",\"lights\",\"living_room\",\"fan\",\"bath_plgs\",\"laundary\",\"fridge\",\"kitchen\",\"furnace\",\"microwave\",\"guest\",\"guest_bath\",\"mini_fridge\",\"others\"],\"values\":[[month,main_hall,AC,lights,living_room,fan,bath_plgs,laundary,fridge,kitchen,furnace,microwave,guest,guest_bath,mini_fridge,others]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":169,"wires":[["521de852.4731f8"]]},{"id":"c9afb67a.34b2d8","type":"ui_form","z":"d77938ab.e7d7a8","name":"","label":"","group":"2fd0ab22.1df064","order":2,"width":0,"height":0,"options":[{"label":"month","value":"month","type":"number","required":false},{"label":"main_hall","value":"main_hall","type":"number","required":false},{"label":"AC","value":"AC","type":"number","required":false},{"label":"lights","value":"lights","type":"number","required":false},{"label":"living_room","value":"living_room","type":"number","required":false},{"label":"fan","value":"fan","type":"number","required":false},{"label":"bath_plgs","value":"bath_plgs","type":"number","required":false},{"label":"laundary","value":"laundary","type":"number","required":false},{"label":"fridge","value":"fridge","type":"number","required":false},{"label":"kitchen","value":"kitchen","type":"number","required":false},{"label":"furnace","value":"furnace","type":"number","required":false},{"label":"microwave","value":"microwave","type":"number","required":false},{"label":"guest","value":"guest","type":"number","required":false},{"label":"guest_bath","value":"guest_bath","type":"number","required":false},{"label":"mini_fridge","value":"mini_fridge","type":"number","required":false},{"label":"others","value":"others","type":"number","required":false}],"formValue":{"month":"","main_hall":"","AC":"","lights":"","living_room":"","fan":"","bath_plgs":"","laundary":"","fridge":"","kitchen":"","furnace":"","microwave":"","guest":"","guest_bath":"","mini_fridge":"","others":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":84,"y":405,"wires":[["4cbad3a2.50bffc","190fa06d.8a013"]]},{"id":"4cbad3a2.50bffc","type":"function","z":"d77938ab.e7d7a8","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"a9e8c7c9-9ffc-4021-a274-9ddf6ce2071d\"\nvar password=\"bbedfb9c-bc66-4b1c-88c3-0fef9496f88e\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"month\",msg.payload.month)\nglobal.set(\"main_hall\",msg.payload.main_hall)\nglobal.set(\"AC\",msg.payload.AC)\nglobal.set(\"lights\",msg.payload.lights)\nglobal.set(\"living_room\",msg.payload.living_room)\nglobal.set(\"fan\",msg.payload.fan)\nglobal.set(\"bath_plgs\",msg.payload.bath_plgs)\nglobal.set(\"laundary\",msg.payload.laundary)\nglobal.set(\"fridge\",msg.payload.fridge)\nglobal.set(\"kitchen\",msg.payload.kitchen)\nglobal.set(\"furnace\",msg.payload.furnace)\nglobal.set(\"microwave\",msg.payload.microwave)\nglobal.set(\"guest\",msg.payload.guest)\nglobal.set(\"guest_bath\",msg.payload.guest_bath)\nglobal.set(\"mini_fridge\",msg.payload.mini_fridge)\nglobal.set(\"others\",msg.payload.others)\nreturn msg","outputs":1,"noerr":0,"x":283,"y":328,"wires":[["366ba167.c6a09e"]]},{"id":"366ba167.c6a09e","type":"http request","z":"d77938ab.e7d7a8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","x":300,"y":240,"wires":[["55db96bf.feb708"]]},{"id":"521de852.4731f8","type":"http request","z":"d77938ab.e7d7a8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/a49c843a-3b27-45f5-af15-5739f2316a1e/deployments/61cdff38-a3be-4cc6-bd94-e7d56f73e47c/online","tls":"","proxy":"","x":430,"y":86,"wires":[["9ca5a1f2.0b103"]]},{"id":"9ca5a1f2.0b103","type":"function","z":"d77938ab.e7d7a8","name":"o/p parsing","func":"//msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":565,"y":269,"wires":[["51635140.659c7","640b5754.377778"]]},{"id":"51635140.659c7","type":"ui_text","z":"d77938ab.e7d7a8","group":"2fd0ab22.1df064","order":18,"width":0,"height":0,"name":"","label":"Energy_audit:","format":"{{msg.payload.values[0][0]}}","layout":"row-spread","x":727,"y":187,"wires":[]},{"id":"640b5754.377778","type":"debug","z":"d77938ab.e7d7a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":331,"wires":[]},{"id":"2fd0ab22.1df064","type":"ui_group","z":"","name":"Default","tab":"94870233.56fab","disp":true,"width":"6","collapse":false},{"id":"94870233.56fab","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]